<!doctype html>
{% extends "base.html" %}

    {% block content_block %}
        <div class="jumbotron">
            {% if registered %}
                <h1>Thank you for registering!</h1>
            {% else %}
                <h2>Please register here:</h2>
                <p></p>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ user_form.as_p}}
                    {{ profile_form.as_p}}
                    <input type="submit" value="Register">
                </form>
            {% endif %}
        </div>
    {% endblock %}